<p>
  <strong>User:</strong>
  <%= User.all.find_by_id(@post.user_id).email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
